In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='9xQp2rdg5fQWxW16UlaNYxeJZXDzHq-JqgzQAVQl28Gs',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.eu-gb.cloud-object-storage.appdomain.cloud')

bucket = 'arshad-donotdelete-pr-hidicug8ckpwey'
object_key = 'Online.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

     Name  English  Urdu  Hindi  Math  History  Total
0  Arshad       95    94     94    85       86    454
1  Nadeem       91    85     95    84       91    446
2  Zaheer       94    87     98    89       91    459
3  Nayyer       93    79     97    90       84    443
4   Afroz       98    82     96    87       86    449